In [1]:
def square(x):
    out = x**2
    return out

square(2)

4

In [1]:
sq = lambda x: x**2
sq(2)

4

In [22]:
sq = lambda x: return x**2 ## no return in lambda
sq(2)

SyntaxError: invalid syntax (479389021.py, line 1)

In [2]:
sq(3)

9

In [3]:
var = (lambda x:x**2)(8)
var

64

In [4]:
(lambda x,y:x*y)(2,3)

6

In [5]:
div = lambda x,y:x/y
div(4,2)

2.0

In [10]:
funct = (lambda x,y: x//y if x>y else x*y)
funct(2,8)

16

In [9]:
# ternary operator
x = 10
a = True if x>=10 else False
a

True

In [10]:
func = lambda : 10
print(func())

10

In [13]:
(lambda *args: sum(args))(5,2,7)

14

In [17]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
]
print(sorted(students, key=lambda m: m["marks"]))

[{'name': 'C', 'marks': 40}, {'name': 'A', 'marks': 50}, {'name': 'B', 'marks': 100}]

In [20]:
students = [
    {"name": "A", "marks": 50},
    {"name": "B", "marks": 100},
    {"name": "C", "marks": 40},
]
print(sorted(students, key=lambda s: s["name"], reverse=False))

[{'name': 'A', 'marks': 50}, {'name': 'B', 'marks': 100}, {'name': 'C', 'marks': 40}]

In [24]:
## Recursion
fact = lambda x: x*fact(x-1) if x>1 else 1
fact(5)

120

## Map

In [1]:
list1 = [1,2,3,4,5]
map(lambda x:x**2, list1)

In [2]:
list(map(lambda x:x**2, list1))

[1, 4, 9, 16, 25]

In [89]:
list2 = [[1,2,3,4,5], [1,2,3,4,5]]

list(map(lambda x: x*2,map(lambda x:x, list2)))

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

In [91]:
list2 = [[1,2,3,4,5], [1,2,3,4,5]]

list(map(lambda x: list(map(lambda y:y+2,x)), list2))

[[3, 4, 5, 6, 7], [3, 4, 5, 6, 7]]

In [2]:
# Convert it to a single list with some funct applied on top
list1 = [[1,2,3],[4,2,3]]
list(map(lambda y: list(map(lambda x: x+1, y)),list1))

[[2, 3, 4], [5, 3, 4]]

In [3]:
list1 = [2,1,4,5]
list(map(lambda x: x**2, list1))

[4, 1, 16, 25]

## Filter

In [34]:
myfuc = lambda x:x%2==0

list1 = [1,2,3,4,5]
out = filter(myfuc, list1)

In [35]:
tuple(out)

(2, 4)

In [36]:
funct = lambda x:10
list1 = [1,2,3,4,5]

out  = (filter(funct, list1))
print(list(out))

[1, 2, 3, 4, 5]

## ZIP

In [59]:
list1 = (1,2,3,4)
list2 = ("a","b","c","d","e")
out1 = zip(list1,list2)

In [60]:
list(out1)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [61]:
list1 = (1,2,3,4)
list2 = ("a","b","c","d","e")
list3 = [{"a":1}]
out1 = zip(list1,list2,list3)
list(out1)

[(1, 'a', {'a': 1})]

## Reduce

In [67]:
from functools import reduce
list1 = [1,2,3,4,5]
out1 = reduce(lambda x,y:x+y, list1)
print(out1)

15

In [71]:
from functools import reduce
list1 = [1,2,3,4,5]
out1 = reduce(lambda x,y:x+y, list1, 2)
print(out1)

17

In [68]:
from functools import reduce
list1 = [1,2,3,4,5]
out1 = reduce(lambda x,y:x-y, list1)
print(out1)

-13

## Arbitrary positional argument

In [83]:
def func(a,b, *args):
    print(args)
    print(type(args))
    return a+b

In [84]:
func(1,2,3,5) # here 1,2 be assigned to a,b and rest of the ele in *arg. Also it will always be tuple

(3, 5)
<class 'tuple'>

3

In [85]:
def func(a,b, *anyname):
    print(anyname)
    print(type(anyname))
    return a+b
func(4,3,4,1)

(4, 1)
<class 'tuple'>

7

## Arbitrary keyword argument

In [88]:
def func(a,b, **kwargs):
    print(kwargs)
    print(type(kwargs))
    return a+b
func(4,3,c=4,d=1)

{'c': 4, 'd': 1}
<class 'dict'>

7

In [3]:
class A:
    def __init__(self,x) -> None:
        self.x = x
class B(A):
    def __init__(self, y) -> None:
        A.__init__(self, 5)
        self.y = y 
    def count(self):
        self.y +=2

obj = B(6)
obj.count()
print(obj.x,obj.y)

5 8