In [3]:
for u in range(5):
    print("Hello")
else:
    print("Bye")

Hello
Hello
Hello
Hello
Hello
Bye

List:
1. Mutable
2. Heterogeneous: Can contain multiple datatype.
3. Dynamic: can be of any size/range

In [5]:
lst=[1,2,4,3]
id(lst), id(lst[0])

(139855378017472, 139855427027184)

Tuple: 
1. Immutable
2. Non-Dynamic

In [6]:
tup=(1,2,3,4)
id(tup), id(tup[1])

(139855377687040, 139855427027216)

Sets:
1. Unique collection (no dubplicates)
2. Insertion ordered : can not be indexed but are always in sorted form.
3. Heterogeneous
4. Mutables
5. Can only contains immutables

a = {2,1},
b = {1,3,4}
1. a intersection b = {1}
2. a union b = {1,2,3,4}
3. difference = {2} (a-b)
4. semmentic diff = (a union b) - (a intersection b)

In [10]:
set1 = {1,2,3, "Hello", 4.0, True}
set1 ## note True is not there because either 1/2/3 or True will print

{1, 2, 3, 4.0, 'Hello'}

In [12]:
set1 = {1,2,3,"Hello",(1,2,4)}

In [13]:
set1 = {1,2,3,"Hello",(1,2,4),{3,2,4}}

TypeError: unhashable type: 'set'

In [14]:
set1 = {1,2,3,"Hello",(1,2,4),[3,2,4]}

TypeError: unhashable type: 'list'

Set operations

In [23]:
a = {1,2,3}
b = {2,3,4,5}

In [16]:
a.intersection(b)

{2, 3}

In [18]:
a & b ## also use for intersection

{2, 3}

In [19]:
a.union

{1, 2, 3, 4, 5}

In [21]:
a | b ## can be used as union

{1, 2, 3, 4, 5}

In [26]:
a-b

{1}

In [27]:
b-a

{4, 5}

In [28]:
a.symmetric_difference(b)

{1, 4, 5}

In [29]:
a and b

{2, 3, 4, 5}

In [30]:
a or b

{1, 2, 3}

In [24]:
a and b ## boolean operation and return right value for TRUE case and left value for FALSE case

{2, 3, 4, 5}

In [31]:
{} and b

{}

In [25]:
a or b

{1, 2, 3}

In [32]:
{} or b

{2, 3, 4, 5}

In [36]:
a = [1,2,3,4,5,6,7,8,9,10]

In [42]:
a[3:8:-1], a[8:3:-1], a[::-1], a[3:8:1]

([], [9, 8, 7, 6, 5], [10, 9, 8, 7, 6, 5, 4, 3, 2, 1], [4, 5, 6, 7, 8])

In [48]:
a[:8:2], a[:5:-1]

([1, 3, 5, 7], [10, 9, 8, 7])

In [51]:
a[3:4], a[3:3]

([4], [])

In [52]:
x = 0
while x < 100:
    x+=2
print(x)

100

In [53]:
lst1 = (1,2,3,4,5)
id1 = id(lst1[0])
lst1[0]="Hello"
id2 = id(lst1[0])
print(id1==id2)

TypeError: 'tuple' object does not support item assignment

In [67]:
def access(lst, num):
    lst.append(num)  ## updates the global list, mutables
    num -= 4  # this will create a new local object
    return num

# in mutable you can make changes and they gets reflected everywhere
lst = [1,2,3]
num = 4
access(lst, num)
print(lst, num)

[1, 2, 3, 4] 4

Dictionary
1. k:v pair
2. k - immutable
3. v - any value
4. Insertion ordered
5. Dynamic and Mutable

In [68]:
def access(lst, num):
    lst[8]=5  ## updates the global list, mutables
    num -= 4  # this will create a new local object
    return num

# in mutable you can make changes and they gets reflected everywhere
lst = {1:2,3:4}
num = 4
access(lst, num)
print(lst, num)

{1: 2, 3: 4, 8: 5} 4

In [69]:
def access(lst, num):
    lst = (2,3,1) ## new local will be create, immutables
    num -= 4  # this will create a new local object
    return num

# in mutable you can make changes and they gets reflected everywhere
lst =(1,2,3,4)
num = 4
access(lst, num)
print(lst, num)

(1, 2, 3, 4) 4

set, dict - O(1)
list, tuples, strings - O(n)

In [70]:
dict1 = {"a":1,"b":2}
dict1["v"] = 4

id(dict1)

139855342683968

In [71]:
dict2 = dict1
dict2["x"] = 9

In [72]:
id(dict2)

139855342683968

In [73]:
dict1

{'a': 1, 'b': 2, 'v': 4, 'x': 9}

In [82]:
dict3 = dict2.update({"g":3})
print(dict3)

None

In [83]:
id(dict3), id(dict2)

(94164072301536, 139855342683968)

Q1

In [84]:
Person = {
    "name":"Sachin",
    "age": 25,
    "subject": "python"
}
Person1 = Person.update({'batch':'Jul23Advanced','age':28})
print(id(Person)==id(Person1))

False

In [85]:
Person

{'name': 'Sachin', 'age': 28, 'subject': 'python', 'batch': 'Jul23Advanced'}

Q2

In [92]:
print({1,2,3}=={1,2,3,4})
print({1,2}=={2,1}) ## inside only unique elements matter in sets

False
True

String

In [93]:
str1 = "a,b,c,d"
str1.split(",")

['a', 'b', 'c', 'd']

In [95]:
str1[::-1]

'd,c,b,a'

In [97]:
s1 = "    hello    "
s1.rstrip(" "), s1.lstrip(" ")

('    hello', 'hello    ')

In [98]:
s1 = "Hello Bro !"
s1.replace("!", ",")

'Hello Bro ,'

In [101]:
s1 = "varun "
s2 = "tyagi"
s1+s2

'varun tyagi'

In [102]:
print("Full name is", s1, s2)

Full name is varun  tyagi

In [103]:
print("Full name is {} {}".format(s1,s2))

Full name is varun  tyagi

In [104]:
print(f"Full name is {s1} {s2}")

Full name is varun  tyagi

In [107]:
s1 = "varun tyagi"
s1[-3:], s1[:-3]

('agi', 'varun ty')