Iteration protocol
 - iterable: data structure which can be iterated. eg. string
 - iterator: variable used to store the individual elements. eg int, float

In [1]:
str1="python"
for i in str1:
    print(i)

p
y
t
h
o
n

In [2]:
num1 = 5
while num1>0:
    print(num1)
    num1-=1

5
4
3
2
1

In [3]:
range(10) # here range is iterable

range(0, 10)

In [4]:
range(5.5) # not iterable

TypeError: 'float' object cannot be interpreted as an integer

In [15]:
it = iter([2,3,4,5]) # as list is iterable we save it in variable

In [16]:
next(it), next(it), next(it) # using next to print next list element

(2, 3, 4)

In [17]:
next(it)

5

In [18]:
next(it)

StopIteration:

In [19]:
sit = iter("varun")
next(sit)

'v'

In [20]:
next(sit)

'a'

In [24]:
for a,b in enumerate(range(5)):
    print(a,b)

0 0
1 1
2 2
3 3
4 4

In [25]:
it = iter(enumerate(range(5)))
next(it)

(0, 0)

In [26]:
next(it), next(it)

((1, 1), (2, 2))

Funtion in Python:
1. To reduce redundancy
2. Reusable code
3. Modular/easu maintenance

In [28]:
def get_name(name):
    print(f'Love you smile: {name}')
get_name("Sachin")

Love you smile: Sachin

Data Structures:
1. Built-In data struc: List, set, dictionary, tuple
2. User Defined data struc: stack, queue, tree, linkedin list, graph, hashmap

In [29]:
lst1 = [3,4,2,5,1]
lst1.append(3)
lst1

[3, 4, 2, 5, 1, 3]

In [31]:
lst1.extend([9])
lst1

[3, 4, 2, 5, 1, 3, 9]

In [33]:
lst1.count(3)

2

In [35]:
lst1[1:4], lst1[1:3:1]

([4, 2, 5], [4, 2])

In [36]:
lst1[::-1]

[9, 3, 1, 5, 2, 4, 3]

In [38]:
lst1[4:2], lst1[4:2:-1]

([], [1, 5])

In [45]:
lst2 = ["abc", "aab", "aaa"]
lst2.sort()
lst2

['aaa', 'aab', 'abc']

In [47]:
lst2 = ["abcaaa", "aa", "aaa","aaba"]
def count_a(str1):
    return str1.count("a")

lst2.sort(key=count_a)
lst2 ## sorted in ascending order

['aa', 'aaa', 'aaba', 'abcaaa']

TUPLES: Immutables-> are memory efficient and faster

In [48]:
tup1 = (1,)
print(tup1)

(1,)

In [49]:
type((1)), type((1,))

(int, tuple)

In [54]:
(), type(()), tuple()

((), tuple, ())

Sets: Insertion ordered data structure
ordered: can be indexed
unordered: can not be indexed, can return in random order
insertion ordered: can not be indexed but are always in sorted form.

In [55]:
set1 = {1,}
type(set1)

set

In [57]:
set(), type(set())

(set(), set)

In [66]:
set1 = {2,1,3,4,2,3,1,1}
len(set1), set1

(4, {1, 2, 3, 4})

Dictionary: {k:v}
1. can not be duplicate
2. can only be

In [67]:
dict1 = {}
type(dict1)

dict

In [69]:
dict2 = {"1001":"Sachin", "1002":"Varun"}
dict2

{'1001': 'Sachin', '1002': 'Varun'}

In [71]:
dict2["1002"]

'Varun'

In [80]:
for key, value in dict2.items():
    print(key,value)

1001 Sachin
1002 Varun